[Unit]
Description=TOH daemon

[Service]
Type=dbus
BusName=org.sailfishos.tohd1
ExecStart=/usr/bin/symbiosis
Restart=on-failure
RestartSec=10s

[Install]
Alias=dbus-org.sailfishos.tohd1.service
WantedBy=multi-user.target
